name: CI Typecheck

on:
  workflow_call:

jobs:
  typecheck:
    runs-on: ubuntu-latest
    container: python:3.11-slim
    env:
      UV_PROJECT_ENVIRONMENT: .venv
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup uv
        uses: astral-sh/setup-uv@v1

      - name: Install dependencies
        run: |
          uv venv
          uv sync --extra dev --frozen

      - name: MyPy
        run: uv run mypy src
